*{
    margin:0;
    padding: 0;
    
}

.sobre-mi{
    text-align: center;
    margin: 2rem;
}

.ul-hago{
    list-style: none;
    margin: 2rem;
}

.ul-hago li{
    display: flex;
    justify-content: space-around;
}

#contacto{
    text-align: center;
    margin:1rem
}

.contacto-links{
    list-style: none;
    text-decoration: none;
    text-align: center;
}

.contacto-links a{
    text-decoration: none;
    color: #000;
}

/* Proyectos */

.proyectos{
    text-align: center;
    margin: 2rem;
}

.proyectos a{
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border: #fff double 2px;

}

.proyectos a:hover{
    transition: all 1.5s;
    background-color: #fff;
    border: #0f0f0f double 2px;;
    color: #000;
}

.card-proyecto{
    margin: 2rem;
    display: inline-block;
    background-color: #0f0f00;
    border-radius: 5px;
    padding: 1rem;
    color: #fff;
}

.card-proyecto ul{
    list-style: none;
    margin: 12px 0;
    padding: 0;
    display: grid;
    gap: 6px;
}

.card-proyecto li{
    margin: 0.5rem;
}

.biblioteca-tech{
    margin: 1rem;
    opacity: 0.9;
}

.note{
    display: inline-block;
    color: red;
    border-bottom: 1px solid red;
}