.hero{
    text-align: center;
    padding: 60px 20px;
}

.hero h2{
    font-size: 2.2rem;
}

.hero p{
    font-size: 1.1rem;
    margin: 16px 0; 
}

.boton-proyectos{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    background-color: #000;
    padding: 5px
}


.stack{
    text-align: center;
    
}

.stack h3{
    font-size: 1.5rem;
    
}

.contenedor-stack{
    list-style: none;
    background-color: #000;
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
}

.contenedor-stack:hover{
    transition: all 1.5s;
    background-color: #fff;
    border: #0f0f0f double 2px;;
    color: #000;
}

.contenedor-stack li{
  font-size: 1.1rem;
  color: #fff;
  margin: 6px 0;
}

.contenedor-stack:hover li{
  color: #000;
  transition: all 1.5s;
}


.contacto{
    text-align: end;
    margin-right: 2rem;
}

.contacto a{
    text-decoration: none;
    color: #b4b4b4
}